body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 30px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.food-review{
    width: 50%;
    padding: 2%;
}
.food-review img{
    width: 80%;

}
.myself{
   background-image: url(Frame 58 - Copy.jpg);
}
.link-tap{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(Orange, tomato);
    padding: 10px 40px;
    border-radius: 30px;
    font-weight: 700;
}
.gray-color{
    color: gray;
}